<h2 id="signers-text"> These people already signed </h2>

{{#each cityResults}}
<ul id="signers">
<li>
<a href="{{homepage}}">{{firstname}} {{lastname}}</a>

{{#if age}} | Age: {{age}} {{/if}}

({{city}})

</li>
</ul>
{{/each}}

{{>logout}}
{{>edit-button}}
{{>delete-signature}}
