
<h2 id="signers-text"> These people already signed</h2>

{{#each results}}
<ul id="signers">
<li>
{{#if homepage}} <a href="{{homepage}}">{{firstname}} {{lastname}}</a>
{{else}} {{firstname}} {{lastname}} {{/if}}

{{#if age}} | Age: {{age}} {{/if}}

{{#if city}} | City: <a href='/petition/signers/{{city}}'>{{city}}</a> {{/if}}


</li>
</ul>
{{/each}}
{{>logout}}
{{>edit-button}}
{{>delete-signature}}
