
<h2 id="edit-profile-text">Edit your profile</h2>
{{#arr}}
<form id="login-form" method="POST" action="/petition/updating">
    First Name:
    <br>
    <input class="fields" id='firstname' type="text" name="firstname"  value={{firstname}} required="require" class="userinput"/>
    <br>
    Last Name:
    <br>
    <input class="fields" id='lastname' type="text" name="lastname" value={{lastname}} required="require" class="userinput"/>
    <br>
    Email:
    <br>
    <input class="fields" id='email' type="text" name="email" value={{email}} required="require" class="userinput"/>
    <br>
    Password:
    <br>
    <input class="fields" id='password' type="text" name="password" >
    <br>
    Age:
    <br>
    <input class="fields" id='age' type="text" name="age" value={{age}}>
    <br>
    City:
    <br>
    <input class="fields" id='city' type="text" name="city" value={{city}}>
    <br>
    Homepage:
    <br>
    <input class="fields" id='homepage' type="text" name="homepage" value={{homepage}}>
    <br>
    <input id="sign-in-botton" type="submit" value="UPDATE">
    {{/arr}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>
{{>logout}}
